<?xml version='1.0' encoding='utf-8'?>
<widget id="cz.skolaonline.mobile.ucitel" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SkolaOnLine</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <icon src="sol.png" />

   <!-- PLATFORM SELECTION -->

    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />

    <!-- GENERAL PREFERENCES -->

    <preference name="phonegap-version" value="3.3.0" />
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="true" /> <!-- remove the upper bar on iOS and Android -->

    <!-- iOS PREFERENCES -->

    <preference name="target-device" value="universal" />

</widget>
