<?xml version='1.0' encoding='utf-8'?>
<widget id="cz.skolaonline.mobile.ucitel" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Škola OnLine pro učitele</name>
    <description>
        Škola OnLine pro učitele. Rozvrh hodin, zadávání docházky a hodnocení.
    </description>
    <author email="hotline@skolaonline.cz" href="http://www.skolaonline.cz/">
        Škola OnLine, a.s.
   </author>
    <content src="index.html" />
    <access origin="*" />

    <!-- ICONS -->

    <icon src="www/icon.png" />

    <!-- PLATFORM SELECTION -->
<!--
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />
     -->
    <!-- GENERAL PREFERENCES -->

    <preference name="phonegap-version" value="3.3.0" />
    <preference name="orientation" value="default" />

    <!-- remove the upper bar on iOS and Android -->
    <!-- <preference name="fullscreen" value="true" /> -->

    <!-- iOS PREFERENCES -->

    <preference name="target-device" value="universal" />

    <!-- PHONEGAP API FEATURES PREFERENCES -->

    <preference name="permissions" value="none"/>


    <!-- PLUGINS -->
    <feature name="App">
        <param name="android-package" value="org.apache.cordova.App" />
    </feature>
    <feature name="Device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>
    <feature name="DatePickerPlugin">
        <param name="android-package" value="com.plugin.datepicker.DatePickerPlugin" />
    </feature>
    <feature name="NetworkStatus">
        <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
    </feature>
    <feature name="Notification">
        <param name="android-package" value="org.apache.cordova.dialogs.Notification" />
    </feature>


</widget>
