<!DOCTYPE html>
<html>

<head lang="cs">
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!--<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />-->

    <link rel="stylesheet" href="lib/jquery.mobile-1.4.3/jquery.mobile-1.4.3.min.css" />
    
    <!--<link rel="stylesheet" type="text/css" href="css/index.css" />-->
    <link rel="stylesheet" type="text/css" href="css/app.css" />

    <meta name="msapplication-tap-highlight" content="no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />

    <title>Škola OnLine pro učitele</title>


    <!--JQUERY-->
    <script type="text/javascript" src="lib/jquery-2.1.1.min.js"></script>
    <!--<script type="text/javascript" src="lib/jquery-1.11.1.min.js"></script>-->

    <!--JQUERY MOBILE-->
    <script src="lib/jquery.mobile-1.4.3/jquery.mobile-1.4.3.min.js"></script>

    <!--CORDOVA-->
    <script type="text/javascript" src="cordova.js"></script>

    <!--UTILS-->
    <script src="lib/lodash-2.4.1/lodash.min.js"></script>
    <script src="lib/base64.js"></script>
    <script src="js/helpers/date-helper.js"></script>
    
    <!--JQUERY VALIDATION-->
    <script src="lib/jquery-validation-1.13.1/jquery.validate.min.js"></script>

    <!--ANGULAR-->
    <script src="lib/angular-1.2.20/angular.js"></script>
    <script src="lib/angular-1.2.20/angular-resource.min.js"></script>
    <script src="lib/angular-1.2.20/i18n/angular-locale_cs.js"></script>



    <!--APP-->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/jqm-config.js"></script>
    <!--SERVICES-->
    <!--<script src="js/services.js"></script>-->
    <script src="js/services/TridyService.js"></script>
    <script src="js/services/ObdobiDneService.js"></script>
    <script src="js/services/ObdobiRokuService.js"></script>
    <script src="js/services/PredmetyService.js"></script>
    <script src="js/services/DruhyHodnoceniService.js"></script>
    <script src="js/services/NastaveniService.js"></script>
    <script src="js/services/AuthorizationService.js"></script>
    <script src="js/services/SelectedDateService.js"></script>
    <script src="js/services/RozvrhService.js"></script>
    <script src="js/services/ZapisHodnoceniService.js"></script>
    <script src="js/services/ZapisDochazkyService.js"></script>
    <script src="js/services/SkolniRokyService.js"></script>
    <script src="js/services/UdalostService.js"></script>
    <script src="js/services/StupniceHodnoceniService.js"></script>
    <script src="js/services/ZapisProbiranehoUcivaService.js"></script>
    <script src="js/services/ParametryService.js"></script>
    
    

    <!--CONTROLLERS-->
    <!--<script src="js/controllers.js"></script>-->
    <script src="js/controllers/GlobalCtrl.js"></script>
    <script src="js/controllers/IndexCtrl.js"></script>
    <script src="js/controllers/LoginCtrl.js"></script>
    <script src="js/controllers/LogoutCtrl.js"></script>
    <script src="js/controllers/NastaveniCtrl.js"></script>
    
    <script src="js/controllers/ZapisProbiranehoUcivaCtrl.js"></script>
    <script src="js/controllers/RozvrhCtrl.js"></script>
    <script src="js/controllers/SkolniRokyCtrl.js"></script>
    <script src="js/controllers/ZapisDochazkyCtrl.js"></script>
    <script src="js/controllers/ZapisHodnoceniCtrl.js"></script>



    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>


</head>
<body ng-app="sol">


    <!--INDEX-->
    <section id="index" data-role="page" data-fullscreen="true" ng-controller="IndexCtrl">

        <!--HEADER-->
        <header id="header" data-role="header" data-theme="a" data-position="fixed">
            <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
            <h1>Škola OnLine pro učitele</h1>
        </header>

        <!--CONTENT-->
        <div class="content" data-role="content">

            Nastavení, přihlášení, výpis rozvrhu, zadávání docházky a další funkce jsou přístupné z menu v záhlaví.

            <!--<button ng-click="redirectToLogin()">login</button>
            <a href="#login" id="redirectToLogin" >login</a>-->

            <!--<div id="deviceProperties"></div>-->

        </div>

    </section>

    <!--NASTAVENI-->
    <section id="nastaveni" data-role="page" ng-controller="NastaveniCtrl">

        <!--HEADER-->
        <header data-role="header" data-position="fixed">
            <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
            <h1>Nastavení</h1>
            <button class="ui-btn-right" data-icon="check" data-iconpos="left" data-theme="b" ng-click="save()">Uložit</button>
        </header>

        <!--CONTENT-->
        <div class="content" data-role="content">
            <div data-role="popup" id="nastaveniNotifier"></div>

            <div class="ui-field-contain">
                <label for="apiURL">URL adresa pro komunikaci:</label>
                <input type="url" id="apiURL" ng-model="apiURL" data-clear-btn="true" />
            </div>
            <!--<div class="ui-field-contain">
                    <label><input type="checkbox" id="remember" ng-model="remember" />Nabízet v rozvrhu sobotu / neděli</label>
                </div>
                <div class="ui-field-contain">
                    <label for="aktivniSkolniRok">Aktivní školní rok:</label><br />

                    <select name="aktivniSkolniRok" id="aktivniSkolniRok" data-native-menu="true">
                        <option value="2013">2013/2014</option>
                        <option value="2014">2014/2015</option>
                        <option value="2015">2015/2016</option>
                    </select>
                </div>-->
        </div>

    </section>

    <!--LOGIN-->
    <section id="login" data-role="page" ng-controller="LoginCtrl">

        <!--HEADER-->
        <header data-role="header">
            <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
            <!--<h1>Přihlášení do aplikace</h1>-->
            <div style="text-align: center;" ><img src="img/skola-on-line-logo.png" alt="logo Škola OnLine"/></div>
            <!--<a href="#index" class="ui-btn-right">Zrušit</a>-->
        </header>

        <!--CONTENT-->
        <div id="loginContent" class="content" data-role="content">
            <div data-role="popup" id="loginNotifier"></div>

            <h4>Přihlašovací údaje do Školy OnLine:</h4>

            <!--<label for="username">Uživatelské jméno:</label>-->
            <input type="text" name="username" id="username" ng-model="username" placeholder="Uživatelské jméno" maxlength="50" data-clear-btn="true" />

            <!--<input type="text" id="test1" ng-model="username" placeholder="test1" data-role="none" />
                <input type="text" id="test2" ng-model="password" placeholder="test2" data-role="none" />-->

            <!--<br />:{{username}}-->
            <!--<label for="password">Heslo:</label>-->
            <input type="password" id="password" ng-model="password" placeholder="Heslo" maxlength="50" data-clear-btn="true" />
            <!--<br />:{{password}}-->
            <label><input type="checkbox" id="remember" ng-model="remember" />Zapamatovat heslo</label>

            <input id="submitLogin" type="submit" ng-click="login()" value="Přihlásit" data-role="button" data-inline="false" data-theme="b" />

            <!--<input id="init" type="submit" ng-click="init()" value="init" data-role="button" data-inline="false"  />-->

        </div>
    </section>

    <!--LOGOUT-->
    <section id="logout" data-role="page" ng-controller="LogoutCtrl" >
        <!--HEADER-->
        <header data-role="header">
            <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
            <!--<h1>Odhlášení z aplikace</h1>-->
        </header>

        <button id="logoutButton" style="display: none" ng-click="logout()"></button>
        
        <script>

            $("#logout").on("pageshow", function (e) {
                //$("#status").html("<p>Ran at "+ new Date() + "</p>"); 
                $("#logoutButton").click();
            });

            //$("#logoutButton").one("click", function () {
            //    alert("This will be displayed only once.");

            //});



        </script>
    </section>

    <!--ROZVRH-->
    <section id="rozvrh" data-role="page" ng-controller="RozvrhCtrl">


        <div data-role="popup" id="popupInfo" data-theme="a" style="min-width:210px; max-width: 400px">
            <p><strong>Detail hodiny</strong></p>
            <p>Zde může být celá řada dalších informací prakticky libovolně formátovaných, včetně formulářových prvků či tabulek.</p>
        </div>


        <div data-role="popup" id="popupMenu" data-theme="a">
            <ul data-role="listview" data-inset="true" style="min-width:210px;">
                <!--<li data-role="list-divider">Vyberte akci</li>-->
                <li><a href="#" ng-click="navigateTo('#probirane-ucivo')">Zadat probírané učivo</a></li>
                <li><a href="#" ng-click="navigateTo('#dochazka')">Zadat docházku</a></li>
                <li><a href="#" ng-click="navigateTo('#hodnoceni')">Nové hodnocení</a></li>

            </ul>
        </div>


        <!--HEADER-->
        <header id="rozvrh-header" data-role="header" data-theme="a" data-position="fixed">
            <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
            <h1>Rozvrh</h1>
            <style>
                /*#rozvrh-header button{height:35px;width:200px;}*/
                </style>

            <nav data-role="navbar" class="ui-bar-a">
                <ul>
                    <li>
                        <!--onclick="addSelectedDateDays(-1); refreshSelectedDate()"-->
                        <a href="#" ng-click="decrementSelectedDate()" class="ui-alt-icon ui-nodisc-icon" data-icon="arrow-l" data-iconpos="notext"></a>
                        <!--<button ng-click="decrementSelectedDate()" class="ui-alt-icon ui-nodisc-icon ui-btn-left" data-icon="arrow-l" data-iconpos="notext"></button>-->
                    </li>
                    <li>
                        <div class="center-wrapper">
                            <div id="selectedDate" ng-click="pickDate()">{{selectedDate | date:dateFormat }}</div>
                        </div>


                        <!--<div class="center-wrapper">
                                <div id="selectedDate"  onclick="selectDate();"></div>
                            </div>-->

                    </li>
                    <!--onclick="addSelectedDateDays(1); refreshSelectedDate()"-->
                    <li>
                        <a href="#" ng-click="incrementSelectedDate()" class="ui-nodisc-icon ui-alt-icon" data-icon="arrow-r" data-iconpos="notext"></a>
                        <!--<button ng-click="incrementSelectedDate()" class="ui-alt-icon ui-nodisc-icon ui-btn-right" style="text-align: right" data-icon="arrow-r" data-iconpos="notext"></button>-->
                    </li>
                </ul>

            </nav>


            <!--<nav data-role="navbar" class="ui-bar-a">
                <a href="#" data-theme="a" data-role="button" data-position="left" data-icon="carat-l" data-iconpos="notext"> << </a>
                <a href="#" >čtvrtek 10.07.2014</a>

                <a href="#" class="ui-nodisc-icon" data-icon="carat-r" data-iconpos="notext"> >> </a>
                <a href="#mainPanel" class="ui-nodisc-icon" data-iconpos="notext" data-icon="bars">Menu</a>
            </nav>-->

        </header>


        <!--CONTENT-->
        <div class="content" data-role="content">
            <div data-role="popup" id="rozvrhNotifier"></div>

            <ul id="rozvrh-table" data-role="listview">
                <li ng-repeat="udalost in data">
                    <a ng-click="showPopupMenu($event, udalost)">
                        <div style="display:table-cell">
                            <div style="text-align:center">
                                {{obdobiDneNazev(udalost)}}
                            </div>
                            <p>{{udalost.CAS_OD | date:timeFormat}} - {{udalost.CAS_DO | date:timeFormat}}</p>
                        </div>
                        <div style="display:table-cell; padding-left: 20px">
                            {{udalost.NAZEV}}
                            <p>
                                {{zdrojeInfo(udalost)}}
                            </p>
                        </div>
                    </a>
                    <a ng-click="showPopupInfo($event, udalost, udalost.showPopupInfo)"
                       class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext"
                       title="Detail hodiny">Detail hodiny</a>
                </li>
            </ul>
        </div>


        <!--FOOTER-->
        <footer data-role="footer" data-theme="a" data-position="fixed">
            <h6>K aktuálně probíhající hodině zadat:</h6>
            <nav data-role="navbar">
                <ul>
                    <li><a ng-click="zapsatProbiraneUcivo('#probirane-ucivo', data)" data-role="button" data-theme="a">Učivo</a></li>
                    <li><a ng-click="zapsatDochazku('#dochazka', data)" data-role="button" data-theme="a">Docházku</a></li>
                    <li><a ng-click="zapsatHodnoceni('#hodnoceni', data)" data-role="button" data-theme="a">Hodnocení</a></li>
                </ul>
            </nav>

        </footer>


        <script src="js/rozvrh.js"></script>

        <!--<script>
            // every time scripts

            function selectDate() {
                var options = {
                    date: selectedDate, //new Date(),
                    mode: 'date'
                };

                datePicker.show(options, function (date) {
                    //alert(date);
                    //alert(date.getTime());

                    if (isNaN(date.getTime())) {
                        selectedDate = date;
                    }


                    refreshSelectedDate();
                });
            }



            function dateToString(date) {
                var temp = date || new Date();

                var dateStr = getDayName(temp) + " " + padStr(temp.getDate()) + "." + padStr(1 + temp.getMonth()) + "." + padStr(temp.getFullYear());

                return dateStr;
                //debug(dateStr);
            }

            function padStr(i) {
                //return (i < 10) ? "0" + i : "" + i;
                return i;
            }


            function addSelectedDateDays(numberOfDaysToAdd) {
                selectedDate.setDate(selectedDate.getDate() + numberOfDaysToAdd);
                //console.log(selectedDate);
            }

            function refreshSelectedDate() {
                $("#selectedDate").text(dateToString(selectedDate));
                //console.log("refreshSelectedDate");
            }


            function addDays(someDate, numberOfDaysToAdd) {
                someDate.setDate(someDate.getDate() + numberOfDaysToAdd);
            }


            function getMonthName(someDate) {
                //var m = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
                //'August', 'September', 'October', 'November', 'December'];
                var m = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
                'August', 'September', 'October', 'November', 'December'];

                return m[someDate.getMonth()];
            }

            function getDayName(someDate) {
                //var d = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

                var names = ['Neděle', 'Pondělí', 'Úterý', 'Středa', 'Čtvrtek', 'Pátek', 'Sobota'];
                return names[someDate.getDay()];
            }



            function setSelectedDate(date) {
                selectedDate = date;

                //console.log(selectedDate);
                //console.log(dateToString(selectedDate));

                $("#selectedDate").val(dateToString(selectedDate));
            }


            //console.log(selectedDate);
            //console.log(selectedDate.getDate());
            //console.log(dateToString(selectedDate));
            $("#selectedDate").text(dateToString(selectedDate));



        </script>-->



    </section>


    <!--DOCHAZKA-->
    <section id="dochazka" data-role="page" ng-controller="ZapisDochazkyCtrl">

        <!--HEADER-->
        <header data-role="header" data-position="fixed">
            <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
            <h1>Evidence docházky</h1>

            <p class="sol-subheader">{{popisHodiny}}</p>
        </header>

        <!--CONTENT-->
        <div class="content" data-role="content">
            <div data-role="popup" id="dochazkaNotifier"></div>

            <table id="dochazka-table" data-role="table" data-mode="columntoggle" class="ui-responsive table-stripe table-bordered ">
                <thead>
                    <tr>
                        <th class="ui-table-priority-3">Třída</th>
                        <th class="ui-table-priority-4">ČVTV</th>
                        <th>Příjmení a jméno</th>
                        <th ng-repeat="obdobi in data.ObdobiDne">{{obdobi.NAZEV}}. hod</th>
                        <th class="ui-table-priority-3">Důvod absence</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in data.Studenti">
                        <td class="ui-table-priority-3">{{ student.TRIDA_NAZEV }}</td>
                        <td class="ui-table-priority-4">{{ student.CVTV }}</td>
                        <td>{{ nazevStudenta(student) }}</td>
                        
                        <td ng-repeat="obdobi in data.ObdobiDne">
                            <button class="ui-btn ui-mini ui-btn-inline" ng-click="prepniAbsenci(student.DOCHAZKA, $index, $parent.$index)"> {{ student.DOCHAZKA[$index] }} </button>
                        </td>

                        <td class="ui-table-priority-3"><input type="text" ng-model="student.POZNAMKA" ng-change="editacePoznamky($index)" /></td>
                    </tr>
                </tbody>
            </table>   
            
        </div>


        <!--FOOTER-->
        <footer data-role="footer" data-theme="a" data-position="fixed">
            <table style="width: 100%; text-align: center;">
                <tr>
                    <td>&nbsp;</td>
                    <td><a data-role="button" ng-click="prednastavitDlePredchozi()">Nastavit dle předchozí</a></td>
                    <td style="width: 50%">&nbsp;</td>
                    <td><a data-role="button" ng-click="ulozit()">Uložit</a></td>
                    <td style="width: 50%">&nbsp;</td>
                    <td><a data-role="button" ng-click="zpet()">Zpět</a></td>
                    <td>&nbsp;</td>
                </tr>
            </table>

        </footer>

    </section>


    <!--HODNOCENI-->
    <section id="hodnoceni" data-role="page" ng-controller="ZapisHodnoceniCtrl">
        <form id="hodnoceniForm" name="hodnoceniForm" novalidate >
            <!--HEADER-->
            <header data-role="header" data-position="fixed">
                <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
                <h1>Zápis hodnocení</h1>
                <p class="sol-subheader">{{popisHodiny}}</p>
            </header>

            <!--CONTENT-->
            <div class="content" data-role="content">
                <div data-role="popup" id="hodnoceniNotifier"></div>

                <!--{{UdalostID}}  {{UdalostPoradi}}-->
                <!--<button ng-click="loadData()" class="ui-btn ui-btn-inline ui-mini">load data</button>
                    <button ng-click="clearData()" class="ui-btn ui-btn-inline ui-mini">clear data</button>-->
                <div class="ui-field-contain">
                    <label for="hodnoceniPololeti">Započítávat do</label>
                    <select name="hodnoceniPololeti" id="hodnoceniPololeti" data-native-menu="true"
                            ng-options="item.OBDOBI_ID as item.NAZEV for item in data.ObdobiRoku"
                            ng-model="data.Hodnoceni.OBDOBI_ID_P"></select>
                </div>
                
                <div class="ui-field-contain">
                    <label for="hodnoceniDruh">
                        <em>*</em>
                        Druh hodnocení
                        <label class="error" ng-show="(hodnoceniForm.hodnoceniDruh.$dirty || submitted) && hodnoceniForm.hodnoceniDruh.$error.required">(povinné pole)</label>
                    </label>
                    <select name="hodnoceniDruh" id="hodnoceniDruh" data-native-menu="true" required
                            ng-options="item.DRUH_UDALOSTI_ID as nazevDruhuHodnoceni(item) for item in data.DruhyHodnoceni"
                            ng-model="data.Hodnoceni.DRUH_UDALOSTI_ID">
                        <option value=""></option>
                    </select>
                </div>

                <div class="ui-field-contain">
                    <label for="hodnoceniTema">
                        <em>*</em>
                        Téma
                        <label class="error" ng-show="(hodnoceniForm.hodnoceniTema.$dirty || submitted) && hodnoceniForm.hodnoceniTema.$error.required">
                            (povinné pole)
                        </label>
                    </label>
                    <input id="hodnoceniTema" name="hodnoceniTema" type="text" ng-model="data.Hodnoceni.NAZEV" data-clear-btn="true" required ng-maxlength="100" />

                </div>
                <div class="ui-field-contain">
                    <label>Komentář</label>
                    <textarea rows="6" name="textarea" id="textarea" ng-model="data.Hodnoceni.POPIS" maxlength="2000"></textarea>
                </div>

                <style>
                    .controlgroup-textinput {
                        padding-top: .22em;
                        padding-bottom: .22em;
                    }

                    #hodnoceni-tema-container {
                        width: 100% !important;
                    }

                    #hodnoceni-tema-container > div > div {
                        width: 100% !important;
                    }


                    #hodnoceni-tema-container > div > div > div {
                        width: -moz-calc(100% - 82px) !important;
                        width: -webkit-calc(100% - 82px) !important;
                        width: calc(100% - 82px) !important;
                    }
                </style>


                <!--<div class="ui-field-contain" style="width: 100%" id="hodnoceni-tema-container">
                        <label>xxx</label>

                        <div data-role="controlgroup" data-type="horizontal">
                            <input id="textbox-button" data-wrapper-class="controlgroup-textinput ui-btn" type="text">
                            <button>...</button>
                        </div>
                    </div>-->

                <hr />

                <fieldset ng-show="isHodnoceniDruhVysledkuVyber" data-role="controlgroup" data-type="horizontal">
                    <label>
                        <input type="radio"
                               name="hodnoceniDruhVysledku"
                               id="hodnoceniDruhVysledkuZnamka"
                               ng-model="druhVysledku"
                               ng-change="nastavDruhVysledku('Z')"
                               value="Z">Známky
                    </label>
                    <label>
                        <input type="radio"
                               name="hodnoceniDruhVysledku"
                               id="hodnoceniDruhVysledkuProcenta"
                               ng-model="druhVysledku"
                               ng-change="nastavDruhVysledku('P')"
                               value="P">Procenta
                    </label>
                </fieldset>
                
                
                <!--{{hodnoceniForm}}-->
                

                <table id="hodnoceni-table" data-role="table" data-mode="columntoggle" class="ui-responsive table-stripe table-bordered ">
                    <thead>
                        <tr>
                            <th class="ui-table-priority-3">Třída</th>
                            <th class="ui-table-priority-4">ČVTV</th>
                            <th>Příjmení a jméno</th>
                            <th ng-show='isHodnoceniZnamkami || druhVysledku == "Z"'>Známka</th>
                            <th ng-show='isHodnoceniProcenty || druhVysledku == "P"'>Procenta</th>
                            <th class="ui-table-priority-3">Slovní hodnocení</th>
                        </tr>
                    </thead>
                    <tbody id="znamky-table-body">
                        <tr ng-repeat="student in data.Studenti">
                            <td class="ui-table-priority-3">{{ student.TRIDA_NAZEV }}</td>
                            <td class="ui-table-priority-4">{{ student.CVTV }}</td>
                            <td>{{ nazevStudenta(student) }}</td>

                            <td ng-show='isHodnoceniZnamkami || druhVysledku == "Z"'>
                                <button class="ui-btn ui-mini ui-btn-inline"
                                        ng-click="prepniHodnoceni(student, $index, $event)">
                                    {{ student.VYSLEDEK_ZNAMKA }}
                                </button>
                            </td>
                            <td ng-show='isHodnoceniProcenty || druhVysledku == "P"'>
                                <ng-form name="hodnoceniProcentaForm">
                                    <input type="number" pattern="\d*" min="0" max="100" step="1" size="4" name="procenta" ng-model="student.VYSLEDEK_PROCENTA" />
                                    <label class="error" ng-show="(hodnoceniForm.hodnoceniTema.$dirty || submitted) && (hodnoceniProcentaForm.procenta.$error.number || hodnoceniProcentaForm.procenta.$error.max || hodnoceniProcentaForm.procenta.$error.min) ">
                                        <!--{{hodnoceniProcentaForm.procenta.$error}}-->
                                        neplatná hodnota
                                    </label>
                                </ng-form>
                            </td>
                            <td class="ui-table-priority-3"><input type="text" ng-model="student.VYSLEDEK_TEXT" /></td>

                            <!--<td><div class="ui-input-text ui-body-inherit"><input type="text"></div></td>-->
                        </tr>
                    </tbody>
                </table>

                <div data-role="popup" id="hodnoceniVyberPopup" class="ui-content" data-theme="a" data-overlay-theme="a">
                    Výběr hodnocení
                    <hr />
                    <fieldset data-role="controlgroup" data-mini="false">
                        <label ng-repeat="stupen in data.StupniceHodnoceni">
                            <input type="radio"
                                   name="hodnoceni-vyber"
                                   id="hodnoceni-vyber-{{$index + 1}}"
                                   ng-model="$parent.vybranaZnamka"
                                   ng-change="nastavHodnoceni('{{stupen.HODNOTA}}')"
                                   value="{{stupen.HODNOTA}}">{{stupenHodnoceniText(stupen.HODNOTA)}}
                        </label>
                    </fieldset>
                    <hr />
                    <label><input type="checkbox" id="hodnoceniNastavitVsem" ng-model="hodnoceniNastavitVsem" data-mini="false" />nastavit všem</label>
                </div>

                <!--Click me to toggle: <input type="checkbox" ng-model="checked" ng-change=""><br />
                    <input type="submit" ng-model="button" ng-disabled="checked" value="xxxx" />
                    <button ng-model="button" ng-disabled="checked">Button</button>
                    <input type="button" ng-model="button" ng-disabled="checked" value="xxxx" />
                    <a data-role="button" ng-disabled="checked">Uložit a nové</a>-->

            </div>

            <!--FOOTER-->
            <footer data-role="footer" data-theme="a" data-position="fixed">
                <table style="width: 100%; text-align: center;">
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <!--<input type="submit" ng-click="ulozit()" value=" submit" />-->
                            <a data-role="button" ng-click="ulozit()">Uložit</a>
                        </td>
                        <td style="width: 50%">&nbsp;</td>
                        <td><a data-role="button" ng-click="ulozitAPodobne()">Uložit a nové</a></td>
                        <td style="width: 50%">&nbsp;</td>
                        <td><a data-role="button" ng-click="zpet()">Zpět</a></td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </footer>
        </form>
        
        <script>
            //$("hodnoceniForm").validate({
            //    messages: {
            //        "hodnoceniTema": "Téma je povinné.",
            //        hodnoceniDruh: {
            //            required: "Druh je povinný."
            //        }
            //    },
            //    focusInvalid: false
            //});


            //$("#hodnoceniForm").validate({
            //    submitHandler: function (form, x) {
            //        $log.info("submit + validate");
            //        $log.debug(form);
            //        $log.debug(x);
            //    },
            //        messages: {
            //            "hodnoceniTema": "Téma je povinné.",
            //            hodnoceniDruh: {
            //                required: "Druh je povinný."
            //            }
            //        }
            //});


        </script>        
        

    </section>



    <!--PROBIRANE-UCIVO-->
    <section id="probirane-ucivo" data-role="page" ng-controller="ZapisProbiranehoUcivaCtrl">
        <form id="probiraneUcivoForm" name="probiraneUcivoForm" novalidate>
            <!--HEADER-->
            <header data-role="header" data-position="fixed">
                <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
                <h1>Probírané učivo</h1>
                <p class="sol-subheader">{{popisHodiny}}</p>
            </header>

            <!--CONTENT-->
            <div class="content" data-role="content">
                <div data-role="popup" id="probiraneUcivoNotifier"></div>

                <div class="ui-field-contain">
                    <label for="probiraneUcivoTrida">Třída</label>

                    <select name="probiraneUcivoTrida" id="probiraneUcivoTrida" data-native-menu="true" ng-change="enhanceFields()"
                            ng-options="item.TRIDA_ID as item.TRIDA_NAZEV for item in data.Tridy"
                            ng-model="selectedTrida"></select>
                    <input name="seznamTrid" id="seznamTrid" type="text" ng-disabled="true" ng-model="seznamTrid"  />
                </div>

                <div ng-repeat="ucivo in data.ProbiraneUcivo | filter:{ SKUPINA_ID: selectedTrida } | limitTo:limitToTrida">
                    <!--období dne: {{ucivo.OBDOBI_DNE_ID}}; třída: {{ucivo.SKUPINA_ID}}; skupiny: {{ucivo.SKUPINY_ID}}<br />-->
                    <div class="ui-field-contain">
                        <label for="cisloHodiny">Číslo hodiny</label>
                        <input name="cisloHodiny" id="cisloHodiny" type="number" pattern="\d*" min="0" max="100" step="1" size="4" ng-model="ucivo.POCET_ODUCENYCH_HODIN">
                        <label class="error" ng-show="(hodnoceniForm.hodnoceniTema.$dirty || submitted) && (hodnoceniProcentaForm.procenta.$error.number || hodnoceniProcentaForm.procenta.$error.max || hodnoceniProcentaForm.procenta.$error.min) ">
                            <!--{{hodnoceniProcentaForm.procenta.$error}}-->
                            neplatná hodnota
                        </label>
                    </div>

                    <div class="ui-field-contain">
                        <label for="probiraneUcivo">Probírané učivo</label>
                        <input name="probiraneUcivo" id="probiraneUcivo" type="text" ng-model="ucivo.PROBRANE_UCIVO">
                    </div>

                    <div class="ui-field-contain">
                        <label for="poznamka">Poznámka</label>
                        <textarea name="poznamka" id="poznamka" rows="2" ng-model="ucivo.POZNAMKA"></textarea>
                    </div>
                </div>
                <label><input type="checkbox" name="zapsatVsemTridam" id="zapsatVsemTridam" ng-model="zapsatVsemTridam" ng-change="setVisibilityTrida()" />Číslo hodiny a učivo zapsat všem třídám v úvazku</label>
            </div>


            <!--FOOTER-->
            <footer data-role="footer" data-theme="a" data-position="fixed">
                <table style="width: 100%; text-align: center;">
                    <tr>
                        <td>&nbsp;</td>
                        <td><a data-role="button" ng-click="ulozit()">Uložit</a></td>
                        <td style="width: 50%">&nbsp;</td>
                        <td><a data-role="button" ng-click="ulozitAZadatDochazku()">Uložit a zadat docházku</a></td>
                        <td style="width: 50%">&nbsp;</td>
                        <td><a data-role="button" ng-click="zpet()">Zpět</a></td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </footer>
        </form>

    </section>


    <!--NAPOVEDA-->
    <section id="napoveda" data-role="page">

        <!--HEADER-->
        <header data-role="header" data-position="fixed">
            <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
            <h1>Nápověda</h1>
        </header>

        <!--CONTENT-->
        <div class="content" data-role="content">
            <h1>NÁPOVĚDA</h1>
        </div>
    </section>


    <!--O-APLIKACI-->
    <section id="o-aplikaci" data-role="page">

        <!--HEADER-->
        <header data-role="header" data-position="fixed">
            <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
            <h1>O aplikaci</h1>
        </header>

        <!--CONTENT-->
        <div class="content" data-role="content">
            <h1>O APLIKACI</h1>
        </div>

    </section>




    <!--SKOLNI-ROK-->
    <section id="skolni-rok" data-role="page" ng-controller="SkolniRokyCtrl">

        <!--HEADER-->
        <header data-role="header" data-position="fixed">
            <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
            <h1>Škoní rok</h1>
            <button class="ui-btn-right" data-icon="check" data-iconpos="left" data-theme="b">Uložit</button>
        </header>

        <!--CONTENT-->
        <div class="content" data-role="content">
            <h4 class="list-inset">Školní roky</h4>
            ({{statusCode}} : {{statusMessage}})

            <ul id="skolni-roky-list" data-role="listview" class="ui-listview-inset">
                <li class="item item-radio" ng-repeat="rok in skolniRoky">
                    {{rok.OBDOBI_ID}} - {{rok.NAZEV}}
                </li>

            </ul>

        </div>


        <!--FOOTER-->
        <footer data-role="footer"><h1>hod</h1></footer>


        <script>


            //var isPhoneGap = document.URL.indexOf('http://') === -1 && document.URL.indexOf('https://') === -1;
            //if (isPhoneGap) {
            //    // PhoneGap application
            //    //var serviceURL = "http://10.0.2.2/SOLWebApi/api/";
            //    var serviceURL = "http://172.20.2.26/SOLWebApi/api/";
            //} else {
            //    // Web page
            //    var serviceURL = "http://localhost/SOLWebApi/api/";
            //}

            /*
            //var serviceURL = "http://172.20.2.26/SOLWebApi/api/"
            var serviceURL = "http://localhost/SOLWebApi/api/";

            var username = localStorage.getItem("username");
            var password = localStorage.getItem("password");


            var basicAuthHash = base64.encode(username + ":" + password); // window.btoa("ada:xx");
            */

            //CryptoJS.enc.Base64.stringify("ada:ada");

            //var basicAuthHash = CryptoJS.MD5("ada:ada");
            //alert(basicAuthHash);
            /*
            $.ajaxSetup({
                headers: {
                    'Authorization': 'Basic ' + basicAuthHash
                },
                statusCode: {
                    401: function (jqXHR, textStatus, errorThrown) {
                        //self.location = '/Account/Login/';
                        //location.href = "./login.cfm";
                        //alert('přesměrování na přihlášení');
                        $.mobile.changePage('#login', 'slide', true, true);
                    }
                }
            });
            */

            //$.getJSON(serviceURL + 'SkolniRoky', function (data) {
            //    var items = [];
            //    //console.log(data);

            //    $.each(data.Data, function (index, item) {
            //        items.push('<li id="' + item.OBDOBI_ID + '">' + item.NAZEV + '</li>');
            //    });

            //    $('#skolni-roky-list').append(items.join(""));

            //    //$('#skolni-roky-list').listview('refresh');
            //});








            //$('#movie-list').append('<li><a href="" data-id="' + row.id + '"><img src="http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w185'+row.poster_path+'"/><h3>' + row.title + '</h3><p>' + row.vote_average + '/10</p></a></li>'); });

            //$('#movie-list').listview('refresh');


        </script>


    </section>






    <script type="text/javascript">

        //var deviceReadyDeferred = $.Deferred();
        //var jqmReadyDeferred = $.Deferred();

        //document.addEventListener("deviceReady", deviceReady, false);

        //function deviceReady() {
        //    deviceReadyDeferred.resolve();
        //}

        //$(document).on("mobileinit", function () {
        //    console.log('mobileinit');

        //    jqmReadyDeferred.resolve();
        //});

        //$.when(deviceReadyDeferred, jqmReadyDeferred).then(doWhenBothFrameworksLoaded);

        //function doWhenBothFrameworksLoaded() {
        //    // TBD
        //}

        app.initialize();

        window.onerror = function (x) {
            alert("nastala chyba");
            alert(x);
        }
    </script>



</body>




</html>
