<!DOCTYPE html>
<html>

<head lang="cs">
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!--<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />-->

    <link rel="stylesheet" href="lib/jquery.mobile-1.4.3/jquery.mobile-1.4.3.min.css" />

    <!--<link rel="stylesheet" type="text/css" href="css/index.css" />-->
    <link rel="stylesheet" type="text/css" href="css/app.css" />

    <meta name="msapplication-tap-highlight" content="no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />

    <title>Škola OnLine pro učitele</title>


    <!--JQUERY-->
    <script type="text/javascript" src="lib/jquery-2.1.1.min.js"></script>
    <!--<script type="text/javascript" src="lib/jquery-1.11.1.min.js"></script>-->






    <!--JQUERY MOBILE-->
    <script src="lib/jquery.mobile-1.4.3/jquery.mobile-1.4.3.min.js"></script>

    <!--CORDOVA-->
    <script type="text/javascript" src="cordova.js"></script>

    <!--UTILS-->
    <script src="lib/base64.js"></script>
    <script src="js/helpers/date-helper.js"></script>


    <!--ANGULAR-->
    <script src="lib/angular-1.2.20/angular.js"></script>
    <script src="lib/angular-1.2.20/angular-resource.min.js"></script>
    <script src="lib/angular-1.2.20/i18n/angular-locale_cs-cz.js"></script>



    <!--APP-->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/jqm-config.js"></script>
    <!--SERVICES-->
    <!--<script src="js/services.js"></script>-->
    <script src="js/services/TridyService.js"></script>
    <script src="js/services/ObdobiDneService.js"></script>
    <script src="js/services/ObdobiRokuService.js"></script>
    <script src="js/services/PredmetyService.js"></script>
    <script src="js/services/DruhyHodnoceniService.js"></script>
    <script src="js/services/NastaveniService.js"></script>
    <script src="js/services/AuthorizationService.js"></script>
    <script src="js/services/SelectedDateService.js"></script>
    <script src="js/services/RozvrhService.js"></script>
    <script src="js/services/ZapisHodnoceniService.js"></script>
    <script src="js/services/ZapisDochazkyService.js"></script>
    <script src="js/services/SkolniRokyService.js"></script>

    <!--CONTROLLERS-->
    <!--<script src="js/controllers.js"></script>-->
    <script src="js/controllers/GlobalCtrl.js"></script>
    <script src="js/controllers/IndexCtrl.js"></script>
    <script src="js/controllers/LoginCtrl.js"></script>
    <script src="js/controllers/LogoutCtrl.js"></script>
    <script src="js/controllers/NastaveniCtrl.js"></script>
    
    <script src="js/controllers/ProbiraneUcivoCtrl.js"></script>
    <script src="js/controllers/RozvrhCtrl.js"></script>
    <script src="js/controllers/SkolniRokyCtrl.js"></script>
    <script src="js/controllers/ZapisDochazkyCtrl.js"></script>
    <script src="js/controllers/ZapisHodnoceniCtrl.js"></script>



    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>


</head>
<body ng-app="sol">


    <!--INDEX-->
    <section id="index" data-role="page" data-fullscreen="true" ng-controller="IndexCtrl">

        <!--HEADER-->
        <header id="header" data-role="header" data-theme="a" data-position="fixed">
            <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
            <h1>Škola OnLine pro učitele</h1>
        </header>

        <!--CONTENT-->
        <div class="content" data-role="content">

            vše je přístupné z menu v záhlaví

            <button ng-click="redirectToLogin()">login</button>
            <a href="#login" id="redirectToLogin" >login</a>

            <div id="deviceProperties"></div>

        </div>

    </section>

    <!--NASTAVENI-->
    <section id="nastaveni" data-role="page" ng-controller="NastaveniCtrl">

        <!--HEADER-->
        <header data-role="header" data-position="fixed">
            <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
            <h1>Nastavení</h1>
            <button class="ui-btn-right" data-icon="check" data-iconpos="left" data-theme="b" ng-click="save()">Uložit</button>
        </header>

        <!--CONTENT-->
        <div class="content" data-role="content">
            <label for="apiURL">URL adresa pro komunikaci:</label>
            <input type="url" id="apiURL" ng-model="apiURL" data-clear-btn="true" />

            <div data-role="popup" id="popupNastaveni"></div>
        </div>

    </section>

    <!--LOGIN-->
    <section id="login" data-role="page" ng-controller="LoginCtrl">

        <!--HEADER-->
        <header data-role="header">
            <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
            <!--<h1>Přihlášení do aplikace</h1>-->
            <center><img src="img/skola-on-line-logo.png" /></center>
            <!--<a href="#index" class="ui-btn-right">Zrušit</a>-->
        </header>

        <!--CONTENT-->
        <div id="loginContent" class="content" data-role="content">
            <h4>Přihlašovací údaje do Školy OnLine:</h4>

            <!--<label for="username">Uživatelské jméno:</label>-->
            <input type="text" name="username" id="username" ng-model="username" placeholder="Uživatelské jméno" maxlength="50" data-clear-btn="true" />

            <!--<input type="text" id="test1" ng-model="username" placeholder="test1" data-role="none" />
            <input type="text" id="test2" ng-model="password" placeholder="test2" data-role="none" />-->

            <!--<br />:{{username}}-->
            <!--<label for="password">Heslo:</label>-->
            <input type="password" id="password" ng-model="password" placeholder="Heslo" maxlength="50" data-clear-btn="true" />
            <!--<br />:{{password}}-->
            <label><input type="checkbox" id="remember" ng-model="remember" />Zapamatovat heslo</label>

            <input id="submitLogin" type="submit" ng-click="login()" value="Přihlásit" data-role="button" data-inline="false" data-theme="b" />

            <!--<input id="init" type="submit" ng-click="init()" value="init" data-role="button" data-inline="false"  />-->

            <div data-role="popup" id="popupLogin"></div>
            

        </div>
    </section>

    <!--LOGOUT-->
    <section id="logout" data-role="page" ng-controller="LogoutCtrl" >
        <!--HEADER-->
        <header data-role="header">
            <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
            <!--<h1>Odhlášení z aplikace</h1>-->
        </header>

        <buton id="logoutButton" style="display: hidden" ng-click="logout()"></buton>
        
        <script>

            $("#logout").on("pageshow", function (e) {
                //$("#status").html("<p>Ran at "+ new Date() + "</p>"); 
                $("#logoutButton").click();
            });

            //$("#logoutButton").one("click", function () {
            //    alert("This will be displayed only once.");

            //});



        </script>
    </section>

    <!--ROZVRH-->
    <section id="rozvrh" data-role="page" ng-controller="RozvrhCtrl">


        <div data-role="popup" id="popupInfo" data-theme="a" style="min-width:210px; max-width: 400px">
            <p><strong>Detail hodiny</strong></p>
            <p>Zde může být celá řada dalších informací prakticky libovolně formátovaných, včetně formulářových prvků či tabulek.</p>
        </div>


        <div data-role="popup" id="popupMenu" data-theme="a">
            <ul data-role="listview" data-inset="true" style="min-width:210px;">
                <!--<li data-role="list-divider">Vyberte akci</li>-->
                <li><a href="#probirane-ucivo">Zadat probírané učivo</a></li>
                <li><a href="#dochazka">Zadat docházku</a></li>
                <li><a href="#hodnoceni">Nové hodnocení</a></li>

            </ul>
        </div>


        <!--HEADER-->
        <header id="rozvrh-header" data-role="header" data-theme="a" data-position="fixed">
            <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
            <h1>Rozvrh</h1>
            <style>
                /*#rozvrh-header button{height:35px;width:200px;}*/
            </style>

            <nav data-role="navbar" class="ui-bar-a">
                <ul>
                    <li>
                        <!--onclick="addSelectedDateDays(-1); refreshSelectedDate()"-->
                        <a href="#" ng-click="decrementSelectedDate()" class="ui-alt-icon ui-nodisc-icon" data-icon="arrow-l" data-iconpos="notext"></a>
                        <!--<button ng-click="decrementSelectedDate()" class="ui-alt-icon ui-nodisc-icon ui-btn-left" data-icon="arrow-l" data-iconpos="notext"></button>-->
                    </li>
                    <li>
                        <div class="center-wrapper">
                            <div id="selectedDate" ng-click="pickDate()">{{selectedDate | date:dateFormat }}</div>
                        </div>


                        <!--<div class="center-wrapper">
                                <div id="selectedDate"  onclick="selectDate();"></div>
                            </div>-->

                    </li>
                    <!--onclick="addSelectedDateDays(1); refreshSelectedDate()"-->
                    <li>
                        <a href="#" ng-click="incrementSelectedDate()" class="ui-nodisc-icon ui-alt-icon" data-icon="arrow-r" data-iconpos="notext"></a>
                        <!--<button ng-click="incrementSelectedDate()" class="ui-alt-icon ui-nodisc-icon ui-btn-right" style="text-align: right" data-icon="arrow-r" data-iconpos="notext"></button>-->
                    </li>
                </ul>

            </nav>


            <!--<nav data-role="navbar" class="ui-bar-a">
                <a href="#" data-theme="a" data-role="button" data-position="left" data-icon="carat-l" data-iconpos="notext"> << </a>
                <a href="#" >čtvrtek 10.07.2014</a>

                <a href="#" class="ui-nodisc-icon" data-icon="carat-r" data-iconpos="notext"> >> </a>
                <a href="#mainPanel" class="ui-nodisc-icon" data-iconpos="notext" data-icon="bars">Menu</a>
            </nav>-->

        </header>


        <!--CONTENT-->
        <div class="content" data-role="content">
            <div data-role="popup" id="popupRozvrh"></div>

            <ul id="rozvrh-table" data-role="listview">
                <li ng-repeat="udalost in data">
                    <a ng-click="showPopupMenu($event, udalost)">
                        <div style="display:table-cell">
                            <div style="text-align:center">{{udalost.OBDOBI_DNE_OD_NAZEV}} - {{udalost.OBDOBI_DNE_DO_NAZEV}}</div>
                            <p>{{udalost.CAS_OD | date:timeFormat}} - {{udalost.CAS_DO | date:timeFormat}}</p>
                        </div>
                        <div style="display:table-cell; padding-left: 20px">
                            {{udalost.NAZEV}}
                            <!--<p>{{radka.UdalostInfo}}</p>-->
                        </div>
                    </a>
                    <a ng-click="showPopupInfo($event, udalost, udalost.showPopupInfo)"
                       class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext"
                       title="Detail hodiny">Detail hodiny</a>
                </li>
            </ul>
        </div>


        <!--FOOTER-->
        <footer data-role="footer" data-theme="a" data-position="fixed">
            <h6>K aktuálně probíhající hodině zadat:</h6>
            <nav data-role="navbar">
                <ul>
                    <li><a ng-click="zapsatProbiraneUcivo('#probirane-ucivo', data)" data-role="button" data-theme="a">Učivo</a></li>
                    <li><a ng-click="zapsatDochazku('#dochazka', data)" data-role="button" data-theme="a">Docházku</a></li>
                    <li><a ng-click="zapsatHodnoceni('#hodnoceni', data)" data-role="button" data-theme="a">Hodnocení</a></li>
                </ul>
            </nav>

        </footer>


        <script src="js/rozvrh.js"></script>

        <!--<script>
            // every time scripts

            function selectDate() {
                var options = {
                    date: selectedDate, //new Date(),
                    mode: 'date'
                };

                datePicker.show(options, function (date) {
                    alert(date);
                    alert(date.getTime());

                    if (isNaN(date.getTime())) {
                        selectedDate = date;
                    }


                    refreshSelectedDate();
                });
            }



            function dateToString(date) {
                var temp = date || new Date();

                var dateStr = getDayName(temp) + " " + padStr(temp.getDate()) + "." + padStr(1 + temp.getMonth()) + "." + padStr(temp.getFullYear());

                return dateStr;
                //debug(dateStr);
            }

            function padStr(i) {
                //return (i < 10) ? "0" + i : "" + i;
                return i;
            }


            function addSelectedDateDays(numberOfDaysToAdd) {
                selectedDate.setDate(selectedDate.getDate() + numberOfDaysToAdd);
                //console.log(selectedDate);
            }

            function refreshSelectedDate() {
                $("#selectedDate").text(dateToString(selectedDate));
                //console.log("refreshSelectedDate");
            }


            function addDays(someDate, numberOfDaysToAdd) {
                someDate.setDate(someDate.getDate() + numberOfDaysToAdd);
            }


            function getMonthName(someDate) {
                //var m = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
                //'August', 'September', 'October', 'November', 'December'];
                var m = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
                'August', 'September', 'October', 'November', 'December'];

                return m[someDate.getMonth()];
            }

            function getDayName(someDate) {
                //var d = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

                var names = ['Neděle', 'Pondělí', 'Úterý', 'Středa', 'Čtvrtek', 'Pátek', 'Sobota'];
                return names[someDate.getDay()];
            }



            function setSelectedDate(date) {
                selectedDate = date;

                //console.log(selectedDate);
                //console.log(dateToString(selectedDate));

                $("#selectedDate").val(dateToString(selectedDate));
            }


            //console.log(selectedDate);
            //console.log(selectedDate.getDate());
            //console.log(dateToString(selectedDate));
            $("#selectedDate").text(dateToString(selectedDate));



        </script>-->



    </section>


    <!--DOCHAZKA-->
    <section id="dochazka" data-role="page" ng-controller="ZapisDochazkyCtrl">

        <!--HEADER-->
        <header data-role="header" data-position="fixed">
            <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
            <h1>Evidence docházky</h1>

            <p class="sol-subheader">{{popisHodiny}}</p>
        </header>

        <!--CONTENT-->
        <div class="content" data-role="content">
            <h1>DOCHÁZKA</h1>

            <table id="dochazka-table" data-role="table" data-mode="columntoggle" class="ui-responsive table-stripe table-bordered ">
                <thead>
                    <tr>
                        <th class="ui-table-priority-3">Třída</th>
                        <th class="ui-table-priority-4">ČVTV</th>
                        <th>Příjmení a jméno</th>
                        <th ng-repeat="obdobi in data.ObdobiDne">{{obdobi.NAZEV}}. hod</th>
                        <th class="ui-table-priority-3">Důvod absence</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in data.Studenti">
                        <td class="ui-table-priority-3">{{ student.TRIDA_NAZEV }}</td>
                        <td class="ui-table-priority-4">{{ student.CVTV }}</td>
                        <td>{{ nazevStudenta(student) }}</td>

                        <td ng-repeat="obdobi in data.ObdobiDne">
                            <button class="ui-btn ui-mini ui-btn-inline" ng-click="prepniAbsenci(student.DOCHAZKA, $index)"> {{ student.DOCHAZKA[$index] }} </button>
                        </td>

                        <td class="ui-table-priority-3"><input type="text" ng-model="student.POZNAMKA" /></td>
                    </tr>
                </tbody>
            </table>   
            <div data-role="popup" id="popupDochazka"></div>         
        </div>


        <!--FOOTER-->
        <footer data-role="footer" data-theme="a" data-position="fixed">
            <table style="width: 100%; text-align: center;">
                <tr>
                    <td>&nbsp;</td>
                    <td><a data-role="button" ng-click="prednastavitDlePredchozi()">Přednastavit dle předchozí</a></td>
                    <td style="width: 50%">&nbsp;</td>
                    <td><a data-role="button" ng-click="ulozit()">Uložit</a></td>
                    <td style="width: 50%">&nbsp;</td>
                    <td><a data-role="button" ng-click="storno()">Storno</a></td>
                    <td>&nbsp;</td>
                </tr>
            </table>

        </footer>

    </section>


    <!--HODNOCENI-->
    <section id="hodnoceni" data-role="page" ng-controller="ZapisHodnoceniCtrl">

        <!--HEADER-->
        <header data-role="header" data-position="fixed">
            <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
            <h1>Zápis hodnocení</h1>
            <p class="sol-subheader">{{popisHodiny}}</p>
        </header>

        <!--CONTENT-->
        <div class="content" data-role="content">
            <h1>HODNOCENÍ</h1>
            {{UdalostID}} - {{UdalostPoradi}}
            <button ng-click="loadData()" class="ui-btn ui-btn-inline ui-mini">load data</button>
            <button ng-click="clearData()" class="ui-btn ui-btn-inline ui-mini">clear data</button>

            <table id="hodnoceni-table" data-role="table" class="ui-responsive table-stripe table-bordered ">
                <thead>
                    <tr>
                        <th>ČVTV</th>
                        <th>Příjmení a jméno</th>
                        <th>Známka</th>
                        <th>Slovní hodnocení</th>
                    </tr>
                </thead>
                <tbody id="znamky-table-body">
                    <tr ng-repeat="radka in data">
                        <td>{{ radka.cvtv }}</td>
                        <td>{{ radka.jmeno }}</td>
                        <td>{{ radka.znamka }}</td>
                        <td><input type="text" ng-model="radka.slovniHodnoceni" /></td>
                        <!--<td><div class="ui-input-text ui-body-inherit"><input type="text"></div></td>-->
                    </tr>
                </tbody>
            </table>
        </div>


        <!--FOOTER-->
        <footer data-role="footer" data-theme="a" data-position="fixed">
            <table style="width: 100%; text-align: center;">
                <tr>
                    <td>&nbsp;</td>
                    <td><a data-role="button" ng-click="prednastavitDlePredchozi()">Přednastavit dle předchozí</a></td>
                    <td style="width: 50%">&nbsp;</td>
                    <td><a data-role="button" ng-click="ulozit()">Uložit</a></td>
                    <td style="width: 50%">&nbsp;</td>
                    <td><a data-role="button" ng-click="storno()">Storno</a></td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </footer>

        <script type="text/javascript">


        </script>

    </section>



    <!--PROBIRANE-UCIVO-->
    <section id="probirane-ucivo" data-role="page">

        <!--HEADER-->
        <header data-role="header" data-position="fixed">
            <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
            <h1>Probírané učivo</h1>

            <p class="sol-subheader">27.7.2014 (3.): ČJL (Český jazyk a literatura) - prostě nějaká rozumně dlouhá informace</p>
        </header>

        <!--CONTENT-->
        <div class="content" data-role="content">
            <!--<h1>PROBÍRANÉ UČIVO</h1>-->
            <!--<div data-role="fieldcontain">-->

            <form>

                <div class="ui-field-contain">
                    <label for="select-native-1">Třída</label>
                    <!---->
                    <select name="trida" id="trida"
                            data-native-menu="false"
                            multiple="multiple">
                        <!--<option>Vyberte třídu</option>-->
                        <option value="1A">1.A</option>
                        <option value="2A">2.A</option>
                        <option value="3A">3.A</option>
                        <option value="4A">4.A</option>
                    </select>

                </div>




                <div class="ui-field-contain">
                    <label for="cisloHodiny">Číslo hodiny</label>
                    <input name="cisloHodiny" id="cisloHodiny" value="" type="text">
                </div>

                <div class="ui-field-contain">
                    <label for="probiraneUcivo">Probírané učivo</label>
                    <input name="probiraneUcivo" id="probiraneUcivo" value="" type="text">
                </div>

                <div class="ui-field-contain">
                    <label for="poznamka">Poznámka</label>
                    <textarea name="poznamka" id="poznamka" rows="8">nějaký text</textarea>
                </div>

                <label><input type="checkbox" name="rememberLogin" id="rememberLogin" />Číslo hodiny a učivo zapsat všem třídám v úvazku</label>


            </form>
        </div>


        <!--FOOTER-->
        <footer data-role="footer" data-theme="a" data-position="fixed">
            <table style="width: 100%; text-align: center;">
                <tr>
                    <td>&nbsp;</td>
                    <td><a data-role="button" ng-click="ulozit()">Uložit</a></td>
                    <td style="width: 50%">&nbsp;</td>
                    <td><a data-role="button" ng-click="ulozitAZadatDochazku()">Uložit a zadat docházku</a></td>
                    <td style="width: 50%">&nbsp;</td>
                    <td><a data-role="button" ng-click="storno()">Storno</a></td>
                    <td>&nbsp;</td>
                </tr>
            </table>

        </footer>

    </section>


    <!--NAPOVEDA-->
    <section id="napoveda" data-role="page">

        <!--HEADER-->
        <header data-role="header" data-position="fixed">
            <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
            <h1>Nápověda</h1>
        </header>

        <!--CONTENT-->
        <div class="content" data-role="content">
            <h1>NÁPOVĚDA</h1>
        </div>
    </section>


    <!--O-APLIKACI-->
    <section id="o-aplikaci" data-role="page">

        <!--HEADER-->
        <header data-role="header" data-position="fixed">
            <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
            <h1>O aplikaci</h1>
        </header>

        <!--CONTENT-->
        <div class="content" data-role="content">
            <h1>O APLIKACI</h1>
        </div>

    </section>




    <!--SKOLNI-ROK-->
    <section id="skolni-rok" data-role="page" ng-controller="SkolniRokyCtrl">

        <!--HEADER-->
        <header data-role="header" data-position="fixed">
            <a href="#solSidePanel" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-bars ui-corner-all"></a>
            <h1>Škoní rok</h1>
            <button class="ui-btn-right" data-icon="check" data-iconpos="left" data-theme="b">Uložit</button>
        </header>

        <!--CONTENT-->
        <div class="content" data-role="content">
            <h4 class="list-inset">Školní roky</h4>
            ({{statusCode}} : {{statusMessage}})

            <ul id="skolni-roky-list" data-role="listview" class="ui-listview-inset">
                <li class="item item-radio" ng-repeat="rok in skolniRoky">
                    {{rok.OBDOBI_ID}} - {{rok.NAZEV}}
                </li>

            </ul>

        </div>


        <!--FOOTER-->
        <footer data-role="footer"><h1>hod</h1></footer>


        <script>


            //var isPhoneGap = document.URL.indexOf('http://') === -1 && document.URL.indexOf('https://') === -1;
            //if (isPhoneGap) {
            //    // PhoneGap application
            //    //var serviceURL = "http://10.0.2.2/SOLWebApi/api/";
            //    var serviceURL = "http://172.20.2.26/SOLWebApi/api/";
            //} else {
            //    // Web page
            //    var serviceURL = "http://localhost/SOLWebApi/api/";
            //}

            /*
            //var serviceURL = "http://172.20.2.26/SOLWebApi/api/"
            var serviceURL = "http://localhost/SOLWebApi/api/";

            var username = localStorage.getItem("username");
            var password = localStorage.getItem("password");


            var basicAuthHash = base64.encode(username + ":" + password); // window.btoa("ada:xx");
            */

            //CryptoJS.enc.Base64.stringify("ada:ada");

            //var basicAuthHash = CryptoJS.MD5("ada:ada");
            //alert(basicAuthHash);
            /*
            $.ajaxSetup({
                headers: {
                    'Authorization': 'Basic ' + basicAuthHash
                },
                statusCode: {
                    401: function (jqXHR, textStatus, errorThrown) {
                        //self.location = '/Account/Login/';
                        //location.href = "./login.cfm";
                        //alert('přesměrování na přihlášení');
                        $.mobile.changePage('#login', 'slide', true, true);
                    }
                }
            });
            */

            //$.getJSON(serviceURL + 'SkolniRoky', function (data) {
            //    var items = [];
            //    //console.log(data);

            //    $.each(data.Data, function (index, item) {
            //        items.push('<li id="' + item.OBDOBI_ID + '">' + item.NAZEV + '</li>');
            //    });

            //    $('#skolni-roky-list').append(items.join(""));

            //    //$('#skolni-roky-list').listview('refresh');
            //});








            //$('#movie-list').append('<li><a href="" data-id="' + row.id + '"><img src="http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w185'+row.poster_path+'"/><h3>' + row.title + '</h3><p>' + row.vote_average + '/10</p></a></li>'); });

            //$('#movie-list').listview('refresh');


        </script>


    </section>






    <script type="text/javascript">

        //var deviceReadyDeferred = $.Deferred();
        //var jqmReadyDeferred = $.Deferred();

        //document.addEventListener("deviceReady", deviceReady, false);

        //function deviceReady() {
        //    deviceReadyDeferred.resolve();
        //}

        //$(document).on("mobileinit", function () {
        //    console.log('mobileinit');

        //    jqmReadyDeferred.resolve();
        //});

        //$.when(deviceReadyDeferred, jqmReadyDeferred).then(doWhenBothFrameworksLoaded);

        //function doWhenBothFrameworksLoaded() {
        //    // TBD
        //}

        app.initialize();

        window.onerror = function (x) {
            alert("nastala chyba");
            alert(x);
        }
    </script>



</body>




</html>
